/*

Vert: #7ed56f
Vert medium: #55c57a
Dark vert: #28b485

*/

/* Copyright @TIJANI ABDELLATIF 
Front web developer 

*/ 

/* normaliser le css */

*,
*::after,
*::before
{
    margin : 0;
    padding : 0;
   /* box-sizing: border-box; */
   box-sizing : inherit; /* best practice */
}

html 
{
   /* font-size:10px;  bad practice*/
   font-size:62.5%; /* good practice */
}


body {
     font-family: "Lato" , sans-serif;
     font-weight: 400;
     /* font-size: 16px;*/
     line-height: 1.7;
     color : #777;
     /* padding:30px; */
     padding:3rem;
     box-sizing:border-box;
}
/* le corps de la page */
.header 
{  
    height:95vh;
    background: linear-gradient(to right bottom,
      rgba(49, 136, 34, 0.8),
      rgba(105, 233, 188, 0.8))
     ,url(../img/hero.jpg); /* pour jouer sur la nuance d'une image */
    background-size:cover;
    background-position: top;
    position:relative;
    clip-path: polygon(50% 0%, 100% 0, 100% 85%, 0 100%, 0 0); /*https://bennettfeely.com/clippy/ */
}
.logo
{
   position: absolute;
   /*top:40px;*/
   top:4rem;
   /*left:40px;*/
   left:4rem;
}
.logowhite
{
   /*height:38px;*/
   height:3.8rem;
   animation-name: moveInBottom; /* appel fonction @keyframes */
   animation-duration:2s;       /* durée de l'animation */ 
   /*animation-delay: 3s;*/
   animation-timing-function: ease-out;
}

.main
{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50% , -50%); /* centrer les elements par rapport à la div main   */
    text-align:center ; /*center le bouton*/ 
}
.heading1{

    color:#fff;
    text-transform: uppercase;
   /* margin-bottom :60px; /* espace entre le titre et le bouton */ 
    margin-bottom:6rem;
}
.heading11
{
    display:block;
   /* font-size: 60px;*/
   font-size:6rem;
    font-weight: 400;
   /* letter-spacing: 35px;*/
   letter-spacing: 3.5rem;
    animation-name:moveInLeft; /* appel fonction @keyframes */
    animation-duration: 2s; /* durée de l'animation */ 
   /* animation-delay: 3s; */
   animation-timing-function: ease-out;
}

.heading12
{
   display:block;
   /*font-size: 20px;*/
   font-size:2rem;
   font-weight: 700;
  /* letter-spacing: 13.5px;*/
  letter-spacing: 1.4rem;
   animation-name:moveInRight; /* appel fonction @keyframes */
   animation-duration: 2s;  /* durée de l'animation */ 
   /*animation-delay: 3s;
   animation-iteration-count: 2;*/
   animation-timing-function: ease-out; /*type d'animation*/
}

/* Animation */ 

@keyframes moveInLeft
{
    0%
    {
       opacity: 0;
      /* transform: translateX(-100px); /* gauche à droite*/
       transform: translateX(-10rem);
    }  

    60%
    {
       transform: rotate(-20deg) ;
    }
    

    80%
    {
         /*transform: translateX(10px);*/
         transform: translateX(1rem);
    }

    100%
    {
       opacity: 1;
       transform: translate(0); /* retour à l'etat initial */
    }
}

@keyframes moveInRight
{
    0%
    {
       opacity: 0;
       /*transform: translateX(100px); /* droite  à droite*/
       transform: translateX(10rem);
    }
    

    60%
    {
       transform: rotate(-20deg) ;
    }
   
    80%
    {
        /*transform: translateY(-10px);*/
        transform: translateY(-1rem);
    }

    100%
    {
       opacity: 1;
       transform: translate(0); /* retour à l'etat initial */
    }
}



@keyframes moveInBottom
{
    0%
    {
       opacity: 0; 
       /*transform: translateY(-100px); /* droite  à droite*/
       transform: translateY(-10rem);
    }

    80%
    {
      /* transform: translate(10px);*/
      transform: translate(1rem);
    }

    100%
    {
       opacity: 1;
       transform: translate(0);  /* retour à l'etat initial */
    }
}

/* bouton */ 
.btn:link,.btn:visited
{
    text-transform: uppercase;
    text-decoration: none;
   /* padding : 15px 40px;*/
   padding: 1.5rem 4rem; 
    display:inline-block;
    /*border-radius: 100px;*/
    border-radius:10rem;
    transition: all .2s;  /*animation bouton*/
    position : relative; /* on le met en position relative pour cacher l'element fils ::after*/
    /*font-size:1.6rem;*/ 
}

.btn:hover{

   transform: translateY(-3px);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* l'ombrage lors du hover*/
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.btn:active
{
   transform: translateY(-1px);

   /*box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* l'ombrage lors du clic*/ 
   box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}


.btn-white
{
   background-color:#fff;
   color:#777;
}

/* animer le boutton behind the scene  */ 

.btn::after /* l'element fils apres le bouton */
{
    content:"";
    display :inline-block;
    height:100%;
    width: 100%;
    border-radius: 100px;
   
    /* pour cacher l'element debordant fils*/ 
    position: absolute; 
    top:0;
    left:0;
    z-index: -1 ; /* un element derriere un autre */
    transition: all .4s;
}

.btn-white::after /* l'element fils apres le bouton */{
  /* 
    mettez l'element en rouge pour voir la difference
   background-color:red;
   */
   background-color: #fff;
}

.btn:hover::after
{
  transform: scaleX(1.5) scaleY(1.6);  /*l'element en derriere s'agrandissent une fois plus que l'element parant*/
  opacity: 0;
}
.btn-animated 
{
   animation-name:moveInLeft; /* appel fonction @keyframes */
   animation-duration: 2s; /* durée de l'animation */ 
   animation-delay: 1s; 
   animation-timing-function: ease-in-out;
   animation-fill-mode: backwards; /* le bouton ne s'affichera pas jusqu'a atteindre son temps d'animation */
}




 
 
