@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  box-sizing: inherit;
  /* best practice */ }

html {
  /* font-size:10px;  bad practice*/
  font-size: 62.5%;
  /* good practice : definition d'un 1rem */ }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    /* transform: translateX(-100px); /* gauche à droite*/
    transform: translateX(-10rem); }
  60% {
    transform: rotate(-20deg); }
  80% {
    /*transform: translateX(10px);*/
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* retour à l'etat initial */ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    /*transform: translateX(100px); /* droite  à droite*/
    transform: translateX(10rem); }
  60% {
    transform: rotate(-20deg); }
  80% {
    /*transform: translateY(-10px);*/
    transform: translateY(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* retour à l'etat initial */ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    /*transform: translateY(-100px); /* droite  à droite*/
    transform: translateY(-10rem); }
  80% {
    /* transform: translate(10px);*/
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* retour à l'etat initial */ } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px;*/
  line-height: 1.7;
  color: #777;
  /* padding:30px; */
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* margin-bottom :60px; /* espace entre le titre et le bouton */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    /* font-size: 60px;*/
    font-size: 6rem;
    font-weight: 400;
    /* letter-spacing: 35px;*/
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /* appel fonction @keyframes */
    animation-duration: 2s;
    /* durée de l'animation */
    /* animation-delay: 3s; */
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    /*font-size: 20px;*/
    font-size: 2rem;
    font-weight: 700;
    /* letter-spacing: 13.5px;*/
    letter-spacing: 1.4rem;
    animation-name: moveInRight;
    /* appel fonction @keyframes */
    animation-duration: 2s;
    /* durée de l'animation */
    /*animation-delay: 3s;
    animation-iteration-count: 2;*/
    animation-timing-function: ease-out;
    /*type d'animation*/ }

.heading-secondary {
  font-family: 'lato' , sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  transition: all .2s ease; }
  .heading-secondary:hover {
    transform: skewY(3deg) skewX(10deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.3); }

.heading-third {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraphe {
  font-size: 1.6rem; }
  .paragraphe:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-bigg {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 1.5rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-top-bigg {
  margin-top: 1.5rem; }

.u-margin-top-bigg1 {
  margin-top: 1.5rem;
  margin-bottom: -10rem !important; }

.btn:link:link, .btn:link:visited, .btn:visited:link, .btn:visited:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* padding : 15px 40px;*/
  padding: 1.5rem 4rem;
  display: inline-block;
  /*border-radius: 100px;*/
  border-radius: 10rem;
  transition: all .2s;
  /*animation bouton*/
  position: relative;
  /* on le met en position relative pour cacher l'element fils ::after*/
  /*font-size:1.6rem;*/ }

.btn:link:hover, .btn:visited:hover {
  transform: translateY(-3px);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* l'ombrage lors du hover*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:link:active, .btn:visited:active {
  transform: translateY(-1px);
  /*box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* l'ombrage lors du clic*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:hover:link, .btn:hover:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* padding : 15px 40px;*/
  padding: 1.5rem 4rem;
  display: inline-block;
  /*border-radius: 100px;*/
  border-radius: 10rem;
  transition: all .2s;
  /*animation bouton*/
  position: relative;
  /* on le met en position relative pour cacher l'element fils ::after*/
  /*font-size:1.6rem;*/ }

.btn:hover:hover {
  transform: translateY(-3px);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* l'ombrage lors du hover*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:hover:active {
  transform: translateY(-1px);
  /*box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* l'ombrage lors du clic*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  /*l'element en derriere s'agrandissent une fois plus que l'element parant*/
  opacity: 0; }

.btn:active:link, .btn:active:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* padding : 15px 40px;*/
  padding: 1.5rem 4rem;
  display: inline-block;
  /*border-radius: 100px;*/
  border-radius: 10rem;
  transition: all .2s;
  /*animation bouton*/
  position: relative;
  /* on le met en position relative pour cacher l'element fils ::after*/
  /*font-size:1.6rem;*/ }

.btn:active:hover {
  transform: translateY(-3px);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* l'ombrage lors du hover*/
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active:active {
  transform: translateY(-1px);
  /*box-shadow: 0 5px 10px rgba(0,0,0,0.2); /* l'ombrage lors du clic*/
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    /* pour cacher l'element debordant fils*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* un element derriere un autre */
    transition: all .4s;
    background-color: #fff; }

.btn--green {
  background-color: #7ed56f;
  color: #000;
  width: 25%;
  border: none;
  cursor: pointer; }
  .btn--green::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    /* pour cacher l'element debordant fils*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* un element derriere un autre */
    transition: all .4s;
    background-color: #7ed56f; }

.btn--text:link, .btn--text:visited {
  color: white;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: .3rem;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  transform-style: all .2s; }

.btn--text:hover {
  color: #fff;
  background-color: #7ed56f;
  font-size: 1.6rem;
  font-weight: 300;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn--text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn--animated {
  animation-name: moveInLeft;
  /* appel fonction @keyframes */
  animation-duration: 2s;
  /* durée de l'animation */
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  /* le bouton ne s'affichera pas jusqu'a atteindre son temps d'animation */ }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: .3rem;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  transform-style: all .2s; }

.btn-text:hover {
  color: #fff;
  background-color: #7ed56f;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 0.9rem solid #7ed56f;
      transform: scale(1.05) translateY(-3rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 11; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 3rem;
  margin: -1.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 5rem;
    margin-bottom: .7rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.2rem) scale(1); }

.card {
  perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #2998FF, #5643fa); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #55c57a, #28b485); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__image {
    background-size: cover;
    height: 16rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-left-radius: 3px; }
    .card__image--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/ocean.png); }
    .card__image--2 {
      background-image: linear-gradient(to right bottom, #2998FF, #5643fa), url(../img/for.jpg); }
    .card__image--3 {
      background-image: linear-gradient(to right bottom, #55c57a, #28b485), url(../img/snow.jpg);
      background-position: center; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 8rem;
    right: 2rem; }
  .card__heading-span--1 {
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
  .card__heading-span--2 {
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__heading-span--3 {
    background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(40, 180, 133, 0.8)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #fff; }
  .card__price-only {
    font-size: 1.5rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story > * {
    transform: skewX(-12deg); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
    position: relative; }
  .story__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .story__text {
    transform: skewX(0deg); }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20);
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  color: inherit;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 80%;
  display: block;
  transition: all .3s; }
  .form__input::-webkit-input-placeholder {
    color: #999999; }
  .form__input:focus:invalid {
    border-bottom: 3px solid orangered;
    transform: translateX(1rem); }

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #28b485; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: rotate(-30deg); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #55c57a;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-input {
  visibility: hidden; }

.header {
  height: 95vh;
  background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url(../img/hero.jpg);
  /* pour jouer sur la nuance d'une image */
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(50% 0%, 100% 0, 100% 75vh, 0 100%, 0 0);
  /*https://bennettfeely.com/clippy/ */
  margin-bottom: -20rem; }
  .header__logo {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logowhite {
    /*height:38px;*/
    height: 3.8rem;
    animation-name: moveInBottom;
    /* appel fonction @keyframes */
    animation-duration: 2s;
    /* durée de l'animation */
    /*animation-delay: 3s;*/
    animation-timing-function: ease-out; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* centrer les elements par rapport à la div main   */
    text-align: center;
    /*center le bouton*/ }

.row {
  max-width: 114rem;
  /* max-width : pour adapter l'affichage */
  background-color: #eee;
  margin: 0 auto;
  /*centrer l'element dans un block*/ }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem)/3); }
  .row .col-2-of-3 {
    width: calc(2 *((100% - 2 * 6rem)/3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem)/4); }
  .row .col-2-of-4 {
    width: calc(2 *((100% - 3 * 6rem)/4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 *((100% - 3 * 6rem)/4) + 2 * 6rem); }

.row {
  background-color: transparent;
  margin: 0 auto; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 20rem 0;
  background: linear-gradient(to right bottom, rgba(85, 197, 122, 0.8), rgba(126, 213, 111, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  margin-top: -15rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -15vh; }

.section-stories {
  position: relative;
  padding: 15rem 0; }
  .section-stories__bg-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .15;
    overflow: hidden; }
    .section-stories__bg-video--content {
      object-fit: cover;
      width: 100%;
      height: 100%; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat5.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem black;
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }
