//couleur
$couleur1:#55c57a;
$couleur2:#7ed56f;
$couleur3: #28b485;
$color-dark-grey:#999999;

$color4:#777;
$color-white:#fff;
$color-noir:#000;

$color-grey-light-1: #f7f7f7;

$color-light:#ffb900;
$color-dark:#ff7730;

$color-blue:#2998FF;
$color-blue-dark:#5643fa;

$color-eee:#eee;

//fonts
$font-family: "Lato" , sans-serif;
$font-sizes:1.6rem;

//grid 
$grid-width:114rem;
$grid-vertical:8rem;
$grid-horizontal:6rem;
